.page-banner{
  text-align: center;
  h1{
    font-size:5rem;
  }
  .underneath-title-padding{
    height:$large-space;
  }
  .page-banner-details{
    border-bottom: 1px solid #ccc;
    text-align:left;
    padding-left:$small-space;
    padding-bottom:5px;
  }
  .page-banner-after-padding{
    height: $xmedium-space;
  }
}