/* Colors */
/* Font Sizes */
/* Spacers */
/* Element Sizes */
/* Custom Fonts */
@font-face {
  font-family: "Helvetica";
  src: font-url("helvetica.woff") format("woff"), font-url("helvetica.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Helvetica Neue";
  src: font-url("helvetica_neue.woff") format("woff"), font-url("helvetica_neue.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
/* fonts */
/* Colors */
html {
  background: #2e2e2e;
  color: whitesmoke; }
  html body {
    background: #2e2e2e;
    color: whitesmoke; }
    html body h1, html body h2, html body h3, html body h4, html body h5, html body h6 {
      color: #0099FF; }
    html body * {
      background: rgba(0, 0, 0, 0.01);
      color: whitesmoke; }
    html body #feature a {
      color: #4EC9B0; }
    html body #guides {
      background: #2e2e2e;
      border: #0099FF 2px solid; }
    html body #container {
      background: #2e2e2e;
      color: whitesmoke; }
      html body #container h1, html body #container h2, html body #container h3, html body #container h4, html body #container h5, html body #container h6 {
        color: #0099FF; }
      html body #container * {
        background: rgba(0, 0, 0, 0.01);
        color: whitesmoke; }
      html body #container #feature a {
        color: #4EC9B0; }
      html body #container #guides {
        background: #2e2e2e;
        border: #0099FF 2px solid; }
      html body #container a {
        color: #4EC9B0; }
      html body #container .note {
        background: #2e2e2e;
        border: #fff9d8 3px solid; }
      html body #container .info {
        background: #2e2e2e;
        border: #0088ff 3px solid; }
      html body #container .warning {
        background: #2e2e2e;
        border: #aa0000 3px solid; }
      html body #container .code_container {
        background: #2e2e2e;
        border: #4EC9B0 3px solid; }
        html body #container .code_container .code {
          background: #2e2e2e; }
          html body #container .code_container .code .container {
            background: #2e2e2e !important; }
            html body #container .code_container .code .container .line.alt2, html body #container .code_container .code .container .line.alt1 {
              background: #2e2e2e !important; }
            html body #container .code_container .code .container .ruby.keyword {
              color: #0099FF !important; }
            html body #container .code_container .code .container .ruby.plain {
              color: whitesmoke !important; }
            html body #container .code_container .code .container .ruby.string {
              color: #D69D85 !important; }
            html body #container .code_container .code .container .ruby.comments {
              color: #57A64A !important; }
            html body #container .code_container .code .container .ruby.color2 {
              color: #4EC9B0 !important; }
            html body #container .code_container .code .container .ruby.variable {
              color: whitesmoke !important; }
            html body #container .code_container .code .container .ruby.script {
              color: #9EFFFF !important; }
            html body #container .code_container .code .container .plain.plain {
              color: whitesmoke !important; }
            html body #container .code_container .code .container .sql.keyword {
              color: #0099FF !important; }
            html body #container .code_container .code .container .sql.plain {
              color: whitesmoke !important; }
    html body #feature {
      background: #4f4f4f; }
    html body #header {
      background: #1e1e1e; }
    html body #subCol {
      background: #1e1e1e; }
      html body #subCol .chapters {
        background: rgba(0, 0, 0, 0.01); }
      html body #subCol ul > li > a > code {
        color: #4EC9B0; }

/*# sourceMappingURL=outside.css.map */
