@import 'vars';
#product_list {
  width: 100%;
  li {
    padding: 10px;
    margin: 10px;
  }
  h3 {
    text-decoration: underline;
  }
  td {
    padding: 0px 4px 0px 4px;
    a{
      padding-right: 4px;
    }
  }
  .altrow {
    background-color: #DDD;
  }
  img {
    width: 200px;
    height: 200px;
  }

  .numalign {
    text-align: right;
  }
}
#wishlist-list {
  display: block;
  width: 100%;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
}

.wishlist_product_subheading {
  font-size: 12px;
  font-family: 'Arvo', 'Ariel', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 25px;
}

.product-item-wrapper {
  padding: 0 28px;
  display: inline-block;
}

.product-item {
  width: 190px;
  height: 400px;
  overflow: hidden;
  display: block;
}

.product-image-wrapper {
  height: 243px;
}

.product-image {
  width: 190px;
  min-height: 243px;
  background-size: cover;
  background-position: center, center;
}

.product-item-title {
  margin: 1rem 0 0.5rem 0;
  font-size: 13px;
  color: rgb(179, 153, 100);
  font-weight: bold;
}

.product-item-title, .wishlist-price {
  font-family: 'Lato', 'Arial', sans-serif;
}

.product-price {
  font-size: 18px;
  font-weight: bold;
}

//body > .container {
//  width: 1000px;
//  padding: 0 1rem;
//}

.line-spacer {
  margin-top: 8px;
  margin-bottom: 25px;
  border-bottom: 1px solid rgb(200, 200, 200);
}

.page-header-title {
  font-size: 3.75rem;
  line-height: 44px;
  margin: 60px 0;
  text-align: center;
  font-family: "Droid Serif", "Arial", sans-serif;
  font-weight: 500;
}

.product-item:hover .product-image-wrapper {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

.product-image-wrapper {
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-transform-style: preserve-3d;
  -moz-backface-visibility: hidden;
  -o-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.product-image-back {
  background-color: $rl-blue;
  color: white;
  height: 243px;
  width: 190px;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
  -webkit-transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-transform: rotateY(-180deg);
  -moz-transform-style: preserve-3d;
  -moz-backface-visibility: hidden;
}

.product-image-back-blur {
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.1);
  margin: .5rem;
}

.shop-function-button {
  -webkit-appearance: none;
  -webkit-background-clip: unset;
  -webkit-box-shadow: none;
  align-items: flex-start;
  background: rgba(0, 0, 0, 0.1);
  background-origin: padding-box;
  border-color: white;
  background-image: none;
  color: white;
  text-align: center;
  display: inline-block;
  text-decoration: none;

  font-weight: bold;
  text-transform: uppercase;

  margin-left: 0.1rem;
  margin-right: 0.1rem;
  padding-bottom: .7rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .7rem;
  border: 1px solid rgba(255, 255, 255, 0.7);

}

.shop-function-button.buy {
  background-color: rgb(113, 138, 120);
}

.shop-function-button.remove {
  background-color: rgb(101, 26, 44);
}

.shop-function-button a {
  color: white;
}